@page "/startup"
@using Microsoft.Maui.Graphics
@using Microsoft.Maui.Graphics.Platform

@inject NavigationManager Navigation

<div class="app-background">
    <div class="app-icon"></div>

    <h3>Добре дошли във FinBridge!</h3>

    <div class="navigation-menu">
        <div class="form-group">
            <p>Вeче имате профил?</p>
            <button @onclick="NavigateToLogin" class="nav-button">Вход</button>
        </div>

        <div class="form-group">
            <p>Нямате профил?</p>
            <button @onclick="NavigateToRegister" class="nav-button">Регистрация</button>
        </div>
    </div>
</div>

@code {
    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}

@* @page "/startup" *@
@* @inject NavigationManager Navigation *@
@* @inject IAuthenticationService AuthService *@

@* <h3>Добре дошли във FinBridge!</h3> *@

@* <EditForm Model="@loginModel" OnValidSubmit="HandleLogin"> *@
@*     <DataAnnotationsValidator /> *@
@*     <ValidationSummary /> *@

@*     <div class="form-group"> *@
@*         <label for="email">Имейл:</label> *@
@*         <InputText @bind-Value="loginModel.Email" id="email" class="input-field" placeholder="example123@example.com" /> *@
@*     </div> *@

@*     <div class="form-group"> *@
@*         <label for="password">Парола:</label> *@
@*         <InputPassword @bind-Value="loginModel.Password" id="password" class="input-field" /> *@
@*     </div> *@

@*     <div class="form-group"> *@
@*         <button type="submit" class="btn-primary">Вход</button> *@
@*     </div> *@
@* </EditForm> *@

@* <p> *@
@*     Нямате профил? *@
@*     <a @onclick="@(() => Navigation.NavigateTo("/register"))">Създайте си един за секунди</a> *@
@* </p> *@

@* <p> *@
@*     <a @onclick="@(() => Navigation.NavigateTo("/forgot-password"))">Забравена парола?</a> *@
@* </p> *@

@* @code { *@
@*     private LoginRequest loginModel = new(); *@

@*     private async Task HandleLogin() *@
@*     { *@
@*         var result = await AuthService.SignInAsync(loginModel); *@
@*         if (result.Succeeded) *@
@*         { *@
@*             Navigation.NavigateTo("/");  *@
@*         } *@
@*         else *@
@*         { *@
@*             // TODO: Display an error message (could be with a toast or inline) *@
@*             Console.WriteLine("Authentication failed."); *@
@*         } *@
@*     } *@
@* } *@

