@inherits LayoutComponentBase

@{
    var currentPath = NavigationManager.Uri.ToLower();
    bool showSidebar = !currentPath.Contains("/startup") && !currentPath.Contains("/register") && !currentPath.Contains("/login");
}

<div class="page">
    @if (showSidebar)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main class="@(!showSidebar ? "no-sidebar" : "")">
        @if (showSidebar)
        {
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
